[submodule "hc-dymall-admin"]
	path = hc-dymall-admin
	url = https://github.com/haochtech/hc-dymall-admin.git
[submodule "hc-dymall-wx"]
	path = hc-dymall-wx
	url = https://github.com/haochtech/hc-dymall-wx.git
